@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&family=Public+Sans:wght@400;700&family=Courier+Prime:wght@400;700&display=swap');

@theme {
  --font-titular: 'Black Han Sans', sans-serif;
  --font-bloque:  'Archivo Black', sans-serif;
  --font-oficial: 'Public Sans', sans-serif;
  --font-codigo:  'Courier Prime', monospace;

  --color-naranja:  #FF6B00;
  --color-amarillo: #FFFF00;
  --color-fucsia:   #FF00AA;
  --color-verde:    #00FF41;
  --color-negro:    #0A0A0A;
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root {
  min-height: 100%;
  background: #0A0A0A;
  color: #fff;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-track { background: #0A0A0A; }
::-webkit-scrollbar-thumb { background: #FF6B00; }